/* RESET AND FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
}

:root {
--inside-yellow: #fcf3d3;
--light-yellow: #fff8de;
--shadow: rgb(194, 194, 194);
--light-gray: rgba(245, 245, 245, 0.877);
--white: rgb(255, 255, 255);
--main-background: var(--light-gray);
--form-background: var(--white);

}

.rubik-moonrocks-regular {
    font-family: "Moonrocks", serif;
    font-weight: 400;
    font-style: normal;
  }

/* MAIN CONTAINERS */
body {
    display: flex;
    font-family: sistem-ui, Tahoma, Geneva, Verdana, sans-serif;
    /* height: max(auto, 100vh); */
}

.cover {
    display: flex;
    flex: 1;
    background-color: #D4AFA5;
}
.cover img{
    object-fit: contain;
    max-width: 100%;
}



.signup {
    display: flex;
    flex-direction: column;
    flex: 2;
    box-shadow: 0px 0 20px grey;
    background-color: var(--main-background);
    justify-content: center;
    padding: 10% 0;
}

/* FORM SECTION */

/* TITLE */
.form-title, .form-container {
    padding: 2.5% 5%;
}

.form-title {
    max-width:  75ch;
    font-size: 2rem;
    color: rgb(51, 51, 51);
}

/* MAIN FORM INPUTS */
.form-container {
    background-color: var(--form-background, yellow);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 10px 7px 10px var(--shadow);


}

.section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    gap: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(161, 161, 161);
}

form h2 {
    font-size: 2.2rem;
    padding: 0 0 1rem 0;
    color: rgb(51, 51, 51);
}

form p {
    color: rgb(63, 63, 63);
}

input {
  width: max(25vw, 300px);
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
  font-size: 1.2rem;
  padding-left: 10px;
}

/* SUBMIT SECTION */

.submit {
    padding: 3% 5%;

}
.submit button {
    width: 300px;
    height: 75px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: #D4AFA5;
    box-shadow: 3px 3px 5px #9c6f62;
    color: whitesmoke;
    font-weight: 1000;
}

.submit button:active {
    background-color: #fcf3d3;
    box-shadow: inset 3px 3px 5px #ccbf86;
    color: #ccbf86;
}


.submit p {
    color: rgb(73, 73, 73);
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

p > a {
    color: #d4afa5;
    text-shadow: 0px 0px 0px rgb(117, 117, 117);
    cursor: crosshair;
}

p > a:hover {
    text-decoration: underline;
}

/* INPUT VALIDATION STATUS */
input:focus {
    border: none;
    border: 2px solid rgb(0, 102, 255);
    box-shadow: 0 0 5px rgb(0, 102, 255);
}

.input:invalid {
    border: 2px solid rgb(199, 0, 0);
    box-shadow: 0 0 5px rgb(199, 0, 0);
}

.input:valid {
    border: 2px solid rgb(0, 151, 8);
    box-shadow: 0 0 5px rgb(0, 151, 8);
}