/* RESET AND FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--shadow: rgb(194, 194, 194);
--light-gray: rgba(245, 245, 245, 0.877);
--white: rgb(255, 255, 255);
--main-background: var(--light-gray);
--form-background: var(--white);

}

.rubik-moonrocks-regular {
    font-family: "Moonrocks", serif;
    font-weight: 400;
    font-style: normal;
  }

/* MAIN SECTION */
body {
    display: flex;
    font-family: sistem-ui, Tahoma, Geneva, Verdana, sans-serif;
}

.cover img{
    height: 100vh;
}



.signup {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0px 0 20px grey;
    background-color: var(--main-background);
    justify-content: center;
}

.form-title, .form-container {
    padding: 2.5% 5%;
}

.form-title {
    width:  75ch;
    font-size: 2rem;
}

.form-container {
    background-color: var(--form-background, yellow);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 10px 7px 10px var(--shadow);


}

.section {
    display: flex;
    padding: 10px 0;
    gap: 50px;
}